@import "tailwindcss";

@theme {
  --color-dark: #141414;
  --color-light: #f8f8f8;
  --color-accent: #f95c4b;

  --font-display: "Archivo Black", sans-serif;
  --font-sans: "Archivo", sans-serif;
  --font-mono: "Space Mono", monospace;
}

:root {
  font-family: var(--font-mono);
  background-color: var(--color-light);
  color: var(--color-dark);
}

::selection {
  background-color: var(--color-accent);
  color: white;
}
