@import "tailwindcss";

@font-face {
  font-family: "Bariol Icons";
  src: url("/fonts/bariol_icons-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-dark: #141414;
  --color-light: #f8f8f8;
  --color-accent: #f95c4b;

  --font-display: "Archivo Black", sans-serif;
  --font-sans: "Archivo", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-bariol: "Bariol Icons", sans-serif;
}

:root {
  --color-dark: #141414;
  --color-light: #f8f8f8;
  --color-accent: #f95c4b;
}

:root.dark {
  --color-dark: #f8f8f8;
  --color-light: #141414;
}

:root {
  font-family: var(--font-mono);
  background-color: var(--color-light);
  color: var(--color-dark);
}

::selection {
  background-color: var(--color-accent);
  color: white;
}

img {
  filter: brightness(0.85);
}
